.marquee {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
    background: transparent;
}

.marquee-wrapper {
    background-color: #F5E7D3;
    display: flex;
    position: relative;
    width: fit-content;
    will-change: transform;
}

.marquee h1 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 6rem;
    line-height: 90%;
    letter-spacing: -0.2rem;
    white-space: nowrap;
    padding-right: 50px;
    will-change: transform;
    color: var(#1D1C1C);
}

@media screen and (max-width: 768px) {
    .marquee {
        padding: 60px 0;
    }

    .marquee h1 {
        font-size: 4rem;
        letter-spacing: -0rem;
    }
}

.marquee,
.marquee-wrapper {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}